dataset/*
.ipynb_checkpoints
*.egg-info
src/__pycache__/
cem/wandb
src/__pycache__/*
logs/
*.pyc
__pycache__/
results/*
scripts/Figures/
!results/
!results/knn
!dataset
!dataset/*
dataset/*/images
dataset/models/
dataset/images
dataset/colored_mnist/
!dataset/*/preprocessed
dataset/dsprites/
runs
build
/models/
intermediary/
results/bases
results/evaluation
cem/results/
cem/cem_concepts/
dataset/
lightning_logs/
